<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Crea tu usuario</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../../static/materialize-css/dist/css/materialize.min.css">
	<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">-->
	<link rel="stylesheet" type="text/css" href="../../static/css/style.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row top">
			<div class="offset-s1 col s10 center">
				<div class="offset-s2 col s8">
					<img class="responsive-img" src="../../static/img/icons/lockone.png">
				</div>
				<div class="col s12">
					<h5><strong>Crea tu usuario Yape</strong></h5>
					<p>Ingresa un nombre, email y clave de usuario</p>
				</div>
				<div class="col s12">
					<form action="formValidate">
						<div class="input-field">
					        <label for="nombre" data-error="wrong" data-success="right"><img width="20" src="../../static/img/icons/user.png"></label>
	          				<input id="nombre" name="example" type="text" class="validate" required="" aria-required="true" placeholder="Nombre">
	          			</div>
	          			<div class="input-field">
					        <label for="email" data-error="wrong" data-success="right"><img width="20" src="../../static/img/icons/message-gray.png"></label>
	          				<input id="email" type="email" class="validate" required="" aria-required="true" placeholder="correo@ejemplo.com">
	          			</div>
	          			<div class="input-field">  
							<label for="clave"><img width="15" src="../../static/img/icons/lock.png"></label>
	          				<input id="clave" type="password" class="validate" placeholder="Ingresa clave de 6 digitos">
	          			</div>
						<div class="col s12">
							<span>Cuida esta clave como oro, es tu acceso a Yape</span>
							<br><br>
							<button class="btn waves-effect white-text yellow" id="count"><a class="white-text" href="4_perfil.html">CREAR CUENTA</a></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script src="../../static/jquery/dist/jquery.min.js" type="text/javascript"></script>
	<script src="../../static/js/perfil-form.js" type="text/javascript"></script>
	<script src="../../static/materialize-css/dist/js/materialize.min.js" type="text/javascript"></script>
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.js"></script>-->
</body>
</html>