<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ingresa código</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../../static/materialize-css/dist/css/materialize.min.css">
	<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">-->
	<link rel="stylesheet" type="text/css" href="../../static/css/style.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body id="splash" class="yellow accent-3">
	<div class="container">
		<div class="row middle-element">
			<div class="offset-s2 col s8 center">
				<img class="responsive-img" src="../../static/img/icons/check.png">
				<h4><strong>¡Bien!</strong></h4>
				<h4><strong>Ahora puedes usar Yape</strong></h4>
			</div>
		</div>
	</div>
	<div id="index" href="5_registro_tarjeta.html">
	</div>
	<script src="../../static/jquery/dist/jquery.min.js" type="text/javascript"></script>
	<script src="../../static/js/perfil.js" type="text/javascript"></script>
	<script src="../../static/materialize-css/dist/js/materialize.min.js" type="text/javascript"></script>
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.js"></script>-->
</body>
</html>